<div class="container">
  <div class="card-container">
    <!-- Logo -->
    <img src="LOGO_SALA1-removeng.png"
         alt="Sala 1" class="logo" />

    <!-- Título -->
    <h2>Descarga la nueva versión móvil de Sala 1</h2>

    <!-- Botones -->
    <div class="device-wrapper">
      <a class="device-btn" aria-label="Android" href="#">
        <img src="androide.png" alt="Descargar para Android" />
      </a>
      <a class="device-btn" aria-label="iOS" href="#">
        <img src="manzana.png" alt="Descargar para iOS" />
      </a>
    </div>

    <footer>
      <img src="acdatafirma.png" width="250px">
    </footer>

  </div>

</div>




<!-- <div class="container ">

  <div class="card card-container" >
    <img src="LOGO_SALA1-removeng.png" style="margin: 0 auto;" width="25%" >
    <div class="card-body">
      <h2>DESCARGA LA NUEVA VERSION MOVIL DE SALA 1</h2>
    </div>

      <div class="card" style="background-color: rgb(31, 31, 31, 0.2);">
        <div class="row p-3">
          <div class="col-6">
            <img class="device-btn" src="androide.png" width="150px">
          </div>

          <div class="col-6">
            <img class="device-btn" src="manzana.png" width="150px">
          </div>

        </div>
      </div>

  </div>


</div> -->
