<div style="max-height: 100vh;">

  <div class="container">
    <div class="card-container">
      <!-- Logo -->
      <img src="LOGO_SALA1-removeng.png"
           alt="Sala 1" class="logo" />

      <!-- Título -->
      <h2 >Descarga la nueva versión móvil de Sala 1</h2>

      <!-- Botones -->
      <div class="device-wrapper">

        <a class="device-btn" aria-label="Android" href="apk/sala1-v2.5.apk" download="apk/sala1-v2.5.apk">
          <img src="androide.png" alt="Descargar para Android" />
        </a>
        <a href="https://apps.apple.com/cl/app/sala-1/id6743873715?platform=iphone" target="_blank" class="device-btn" aria-label="iOS">
          <img src="manzana.png" alt="Descargar para iOS" />
        </a>
      </div>

      <footer>

        <a href="https://www.acdata.cl" target="_blank" rel="noopener noreferrer">
          <img src="acdatafirma.png" width="180px">
        </a>

      </footer>
      <button class="btn btn-dark w-75" [routerLink]="'/privacy-policy'">Politica de Privacidad</button>
    </div>

  </div>
</div>





<!-- <div class="container ">

  <div class="card card-container" >
    <img src="LOGO_SALA1-removeng.png" style="margin: 0 auto;" width="25%" >
    <div class="card-body">
      <h2>DESCARGA LA NUEVA VERSION MOVIL DE SALA 1</h2>
    </div>

      <div class="card" style="background-color: rgb(31, 31, 31, 0.2);">
        <div class="row p-3">
          <div class="col-6">
            <img class="device-btn" src="androide.png" width="150px">
          </div>

          <div class="col-6">
            <img class="device-btn" src="manzana.png" width="150px">
          </div>

        </div>
      </div>

  </div>


</div> -->
